html {
   box-sizing: border-box;
}

*, ::after, ::before {
   box-sizing: inherit;
}

body {
   font-family: 'Roboto', sans-serif;
   margin: 0;

}



.container {
   max-width: 850px;
   margin: 0 auto;
   padding: 0 20px;
}

.descripion {
   padding: 20px 0;
   margin-bottom: 30px;
   line-height: 1.5;
}

.woman {
   color: rgb(87, 16, 43);
}

.darkTheme {
   background: rgb(65, 59, 59);
   color: rgb(238, 238, 145);
}